@model HomeBudget.Models.ReccuringPayment

@{
    ViewData["Title"] = "Payment details";
}

<h1 class="display-4">Details</h1>

<div class="custom-card">
    <h4 class="custom-card-title">Reccuring Payment</h4>
    <hr class="custom-divider" />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(Model.Category.Icon) @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Account)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Account.AccountName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency.Id)
        </dd>
        <dt class = "col-sm-2">
            How Often
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HowOften)
        </dd>
        <dt class = "col-sm-2">
            First Payment
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstPaymentDate)
        </dd>
        <dt class = "col-sm-2">
            Last Payment
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastPaymentDate)
        </dd>
        <dt class="col-sm-2">
            Recent Payment
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastSuccessfulPayment)
        </dd>
    </dl>
</div>
<div class="custom-buttons">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary" style="margin-right: 10px;">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary" style="margin-left: 10px;">Back to List</a>
</div>
