@model HomeBudget.Models.Budget

@{
    ViewData["Title"] = "Budget details";
}

<h1>Details</h1>

<div>
    <h4>Budget</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BudgetName)
        </dd>
        <dt class = "col-sm-2">
            Category
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            Account
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Account.AccountName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Limit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Limit)
        </dd>
        <dt class = "col-sm-2">
            Start Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationTime)
        </dd>
        <dt class = "col-sm-2">
            End Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
