@model HomeBudget.Models.SourceOfIncome

@{
    ViewData["Title"] = "Source details";
}

<h1 class="display-4">Details</h1>

<div class="custom-card">
    <h4 class="custom-card-title">Source of income</h4>
    <hr class="custom-divider" />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Contract Type
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractType)
        </dd>
        <dt class = "col-sm-2">
            Salary Type
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalaryType)
        </dd>
        <dt class = "col-sm-2">
            VAT (%)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VAT)
        </dd>
        <dt class="col-sm-2 custom-dt">
            Health Insurance
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HealthInsuranceType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ratio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ratio)
        </dd>
    </dl>
</div>
<div class="custom-buttons">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
