<!--inject wstrzykuje zaleznosci, Microsoft... to interfejs dostarczajacy
dostep do kontekstu biezacego zadania HTTP, a HttpContextAccessor to tam dajemy implementacje interfejsu-->
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Home Budget</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HomeBudget.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-j7epO/FFl//egs56vzSDJmZFet5tnrwiIvv98JUBz1p/6e1sOBr1Hd1fJGpzBk29fTpF9ZvMmmJnXnJlr9K/WA==" crossorigin="anonymous" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
</head>

<!--w tym body dajemy dostep korzystania z theme-->
<body class="@HttpContextAccessor.HttpContext.Request.Cookies["Theme"]">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home Budget</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="CurrencyRate" asp-action="Index">Currencies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LogOut">Log out</a>
                        </li>
                    </ul>
                    <form method="post" asp-controller="Theme" asp-action="SetTheme" class="d-inline">
                        <select name="theme" class="form-select" onchange="this.form.submit()">
                            <option>Change theme</option>
                            <option value="white-theme">Light Theme</option>
                            <option value="dark-theme">Dark Theme</option>
                        </select>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        $(document).ready(function () {
            var toastrMessage = '@TempData["ToastrMessage"]';
            var toastrType = '@TempData["ToastrType"]';

            if (toastrMessage) {
                switch (toastrType) {
                    case 'success':
                        toastr.success(toastrMessage);
                        break;
                    case 'error':
                        toastr.error(toastrMessage);
                        break;
                    case 'info':
                        toastr.info(toastrMessage);
                        break;
                    case 'warning':
                        toastr.warning(toastrMessage);
                        break;
                    default:
                        toastr.info(toastrMessage);
                        break;
                }
            }
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
