@model IEnumerable<HomeBudget.Models.Category>

@{
    ViewData["Title"] = "All categories";
}

<!--ladujemy biblioteke stylizacji-->
<link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet">

<h1 class="display-4">All categories</h1>

<table class="table" id="transactionsTable">
    <thead>
        <tr>
            <th>
                User Name
            </th>
            <th>
                Name
            </th>
            <th>
                Icon
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    <div style="font-size: 30px;">@Html.Raw(item.Icon)</div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!--uzywamy jQuery aby poczekac na zaladowanie dokumentu i nastepnie wywolac funkcje datatable na identyfikatorze 'transactionsTable'-->
@section Scripts {
    <!--ladujemy biblioteke ktora dostarcza funkcji do interakcji z tabela-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#transactionsTable').DataTable();
        });
    </script>
}
