@model HomeBudget.Models.Event

@{
    ViewData["Title"] = "Event details";
}

<h1 class="display-4">Details</h1>

<div class="custom-card">
    <h4 class="custom-card-title">Event</h4>
    <hr class="custom-divider" />
    <dl class="row">
        <dt class="col-sm-2 custom-dt">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10 custom-dd">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2 custom-dt">
            @Html.DisplayNameFor(model => model.Start)
        </dt>
        <dd class="col-sm-10 custom-dd">
            @Html.DisplayFor(model => model.Start)
        </dd>
        <dt class="col-sm-2 custom-dt">
            @Html.DisplayNameFor(model => model.End)
        </dt>
        <dd class="col-sm-10 custom-dd">
            @Html.DisplayFor(model => model.End)
        </dd>
        <dt class="col-sm-2 custom-dt">
            Is completed
        </dt>
        <dd class="col-sm-10 custom-dd">
            @Html.DisplayFor(model => model.IsCompleted)
        </dd>
    </dl>
</div>
<div class="custom-buttons">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
