@model IEnumerable<HomeBudget.Models.Event>

@{
    ViewData["Title"] = "Calendar";
}

<!--ladujemy biblioteke stylizacji-->
<link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet">

<h1 class="display-4">Calendar</h1>

<head>
    <meta charset='utf-8' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.13/index.global.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: '/Event/GetEvents',
                dateClick: function (info) {
                    //var title = prompt('Enter Event Title:');
                    //var startDate = info.dateStr;

                    if (title) {
                        var eventData = {
                            title: title,
                            start: startDate
                        };

                        fetch('/Event/CreateEvent', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(eventData)
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (data.id) {
                                    calendar.addEvent({
                                        id: data.id,
                                        title: data.title,
                                        start: data.start
                                    });
                                } else {
                                    alert('Failed to create event');
                                }
                            });
                    }
                }
            });
            calendar.render();
        });
    </script>
</head>
<body>
    <div id='calendar'></div>
</body>

<p></p>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table" id="transactionsTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th>
                Is completed
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCompleted)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<!--uzywamy jQuery aby poczekac na zaladowanie dokumentu i nastepnie wywolac funkcje datatable na identyfikatorze 'transactionsTable'-->
@section Scripts {
    <!--ladujemy biblioteke ktora dostarcza funkcji do interakcji z tabela-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#transactionsTable').DataTable();
        });
    </script>
}
