@model HomeBudget.Models.Transaction

@{
    ViewData["Title"] = "Deleting transaction";
}

<h1 class="display-4">Delete Transaction</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Category
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            Account
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Account.AccountName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class="col-sm-2">
            Currency
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Currency.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger" style="margin-right: 10px;" /> |
            <a asp-action="Index" class="btn btn-secondary ml-2" style="margin-left: 10px;">Back to List</a>
        </div>
    </form>
</div>
