@model HomeBudget.Models.Transaction

@{
    ViewData["Title"] = "Transaction details";
}

<h1 class="display-4">Details</h1>

<div class="custom-card">
    <h4 class="custom-card-title">Transaction</h4>
    <hr class="custom-divider" />
    <dl class="row">
        <dt class = "col-sm-2">
            Category
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(Model.Category.Icon) @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            Account
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Account.AccountName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class="col-sm-2">
            Currency
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Currency.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div class="custom-buttons">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
