@model IEnumerable<HomeBudget.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="text-center">
    <form method="post" asp-controller="Transaction" asp-action="ExportToCSV">
        <input type="submit" value="Export data to CSV"></input>
    </form>
</div>

<p></p>

<div class="text-center">
    <form method="post" asp-controller="Transaction" asp-action="ExportToExcel">
        <input type="submit" value="Export data to Excel"></input>
    </form>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Category
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <div>
                        <span>@Html.Raw(item.Category.Icon)</span>
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.AccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
