@model HomeBudget.Models.Account

@{
    ViewData["Title"] = "Account details";
}

<h1 class="display-4">Details</h1>

<div class="custom-card">
    <h4 class="custom-card-title">Account</h4>
    <hr class="custom-divider" />
    <dl class="row">
        <dt class="col-sm-2 custom-dt">
            Name
        </dt>
        <dd class="col-sm-10 custom-dd">
            @Html.DisplayFor(model => model.AccountName)
        </dd>
        <dt class="col-sm-2 custom-dt">
            Note
        </dt>
        <dd class="col-sm-10 custom-dd">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class="col-sm-2 custom-dt">
            Income
        </dt>
        <dd class="col-sm-10 custom-dd">
            @Html.DisplayFor(model => model.Income)
        </dd>
        <dt class="col-sm-2 custom-dt">
            Expense
        </dt>
        <dd class="col-sm-10 custom-dd">
            @Html.DisplayFor(model => model.Expanse)
        </dd>
        <dt class="col-sm-2 custom-dt">
            Currency
        </dt>
        <dd class="col-sm-10 custom-dd">
            @Html.DisplayFor(model => model.Currency.Code)
        </dd>
    </dl>
</div>
<div class="custom-buttons">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
